<h1>Welcome to Sanatory!!</h1>

<h2>
	<div>
	<strong> <%= link_to "Turns", turns_path %> </strong>
	<br>
	<br>
	<strong> <%= link_to "Medics", medics_path %> </strong>
	<br>
	<br>
	<strong> <%= link_to "Patients", patients_path %> </strong>
	<br>
	<br>
	<strong> <%= link_to "Social Works", social_works_path %> </strong>
	<br>
	<br>
	<strong> <%= link_to "Speciality", speciallities_path %> </strong>
	</div>
</h2>

